<footer>
    <div>
        Reproductor de sonidos. Reproduce uno de los cuatros sonidos para elegir. Lo mejor de todo es que es gratis y no te estoy cobrando ningun peso de mierda!!
    </div>
</footer>