<div class="bg">
    <div class="float-menu">
        <h3>Terminos y condiciones</h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore facilis tempora molestias amet voluptate quae rerum sunt incidunt. Nam asperiores dolorem nihil nesciunt modi consequuntur deleniti et, non officia, iusto unde animi nobis delectus! Quae hic, beatae atque minima ipsa consectetur deleniti error maiores. Sunt molestiae asperiores excepturi quidem aspernatur molestias dolorum, perferendis voluptatibus fugiat quae. In eaque iure ab quisquam aperiam excepturi amet, beatae ea, magnam, reprehenderit molestiae natus consectetur ipsam. Fuga unde eaque tempora optio inventore? Nam fugit voluptatum, enim nesciunt aperiam, cupiditate sunt itaque provident libero assumenda quia fugiat est nisi tempore. Nostrum aliquam adipisci, corrupti ipsum quae nulla suscipit impedit cum, amet illo ducimus quibusdam ipsa fuga dicta vel necessitatibus dolorem temporibus hic harum modi natus ex dignissimos? Illo voluptas itaque laudantium ea quam commodi corporis sit, iure omnis voluptates repellat consequuntur similique aspernatur error aliquam quidem magni laboriosam, ducimus nostrum, sed nisi. Eaque fugiat reprehenderit libero, aut minus, impedit adipisci laboriosam facilis harum corporis quaerat consectetur ab alias obcaecati numquam quod laborum. Fuga possimus nesciunt ducimus laborum, aut eligendi officiis. Libero explicabo et asperiores similique sequi reiciendis fuga pariatur obcaecati? Sunt numquam eligendi iure unde doloremque ab omnis quas adipisci, cumque vitae architecto amet cum.
        </p>
        <button id="btn">Aceptar terminos y condiciones</button>
    </div>
</div>